* {
    box-sizing: border-box;
}

body {
  background: #22212C;
}


 img {
/*   padding-top: 30px;
  padding-left: 100px; */
  background: url(./assets/wer.png) none;
  border: 2px solid rgba(77, 10, 162, 0.89);
  border-radius: 55%;
  margin-top: 30px;
  margin-left: 100px;
}


.profile {
  width:  348px;
  height: 292px;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  position: absolute;
  background: #302F3D; 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}


  h1 {
  padding-top: 210px; 
  padding-left: 60px ;
  align-items: center;
  font-family: 'Merriweather Sans', sans-serif;
  position: absolute;
  font-size: 23px;
  color: #837E9F;
  font-weight: 700;
}

 p {
  font-style: italic;
  font-weight: 300;
  padding-top: 230px;
  padding-left: 129px ;
  align-items: center;
  position: absolute;
  font-family: 'Merriweather Sans', sans-serif;
  color: #837E9F;
} 




